/*Grundläggande styling för alla stora och små divar */ 
.large {
  display:flex;
  min-height:500px;
  width:500px;
  background:black;
  margin-bottom:10px;

}

.small {
  width:100px;
  height:100px;
  background:red;
  margin:5px;
}


/* Styling för Svarta ruta #1 */
.large.one {
  /* Bestäm huvudaxeln */
  flex-direction:row;
  /* Justify content placerar saker längs huvudaxeln */
  justify-content: center;
  /* Align items placerar längs sekundära axeln */
  align-items:center;
}

.large.one div:nth-of-type(1){
  /* flex-grow:3; */
}

.large.one div:nth-of-type(2){
  flex-grow:1;
}

.large.two {
  flex-direction:column;
  justify-content: space-around;
  padding:12px;
  box-sizing: border-box;
}


/* Du kan använda align-self på children av en parent för att låta dem bestämma alignment själva*/


.large.one div:nth-of-type(1) {

  align-self:flex-start;
}

.large.one div:nth-of-type(3) {
  align-self:flex-start;
}


/* Valfri border för att visuellt se våra "osynliga divar" vi använder för att justera innehåll*/
/* .large.two > div {
  border:5px solid lightcoral;
}  */


/* Styling för alla röda divar inuti den Svart ruta #2 */
.large.two > div:nth-of-type(1) {
  display:flex;
  justify-content: space-between;
}

.large.two > div:nth-of-type(2) {
  display:flex;
  justify-content: center;
}

.large.two > div:nth-of-type(3) {
  display:flex;
  justify-content: space-between;
}