.large {
  display:flex;
  /* Bestäm huvudaxeln */
  flex-direction:row;
  /* Justify content placerar saker längs huvudaxeln */
  justify-content: space-between;
  /* Align items placerar längs sekundära axeln */
  align-items:center;
  height:500px;
  width:500px;
  background:black;
}


.small {
  width:100px;
  height:100px;
  background:red;
  margin:5px;
}